body{
  background-image: url("https://th.bing.com/th/id/OIP.0axbr0Twunw1rU3pTpEY5wHaE6?pid=ImgDet&rs=1");
} 
.box{
    overflow: scroll;
    background-color: rgb(52, 52, 52);
    width: 20rem;
    height: 10rem;
    
    border-radius: 10px;
    color: rgb(230, 230, 230);
    padding: 10px;
    border-radius: 10px;
}

.section{
    margin: 5rem;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(199, 199, 199);
}

.form{
    margin: 2rem;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: rgb(52, 52, 52);
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(52, 52, 52);
    overflow: scroll;
  }